body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.background-images {
    background-image: url(images/donation3.jpg);
    background-size: cover;
    background-repeat: no-repeat center;
    height: 110vh;
    width: 210vh;
    text-align: center;
    border: auto;
}

.background-images h1 {
    text-align: center;
    font-size: 50px;
    color: darksalmon;

}

.background-images p {
    color: aliceblue;
    font-size: 30px;
}

.Donate-now {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 90px;
    border-radius: 5px;
}

.donate-amount {

    height: 400px;
    margin: 75px auto;
}

.donate-amount h1 {

    text-align: center;
    color: black;
    font-size: 48px;
}

.donate-amount p {

    color: rgb(58, 57, 57);
    font-size: 14px;
    text-align: center;
}

.donate-amount a {

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 90px;
    border-radius: 5px;
    text-align: center;

}

.box {
    display: flex;
    border-left: 2px;
    width: 500px;
    margin: 0 auto;
}

.box-1 {
    padding: 20px 10px 20px 10px;
    align-content: center;
    margin: 0 10px;
    border-radius: 5%;
    border: 2px solid brown;
}

.box-2 {
    padding: 20px 10px 20px 10px;
    align-content: center;
    margin: 0 10px;
    border-radius: 5%;
    border: 2px solid brown;
}

.box-3 {
    padding: 20px 10px 20px 10px;
    align-content: center;
    margin: 0 10px;
    border-radius: 5%;
    border: 2px solid brown;
}

.box-4 {
    padding: 20px 10px 20px 10px;
    align-content: center;
    margin: 0 10px;
    border-radius: 5%;
    border: 2px solid brown;
}

.box-5 {
    padding: 20px 10px 20px 10px;
    align-content: center;
    margin: 0 10px;
    border-radius: 5%;
    border: 2px solid brown;
}

.horizontal p {
    padding-top: 30px;
    font-size: 18px;
    color: rgb(180, 179, 179);
    text-align: center;
}

hr {
    background-color: rgb(180, 179, 179);
    height: 1px;
    width: 800px;
}

.donate-plan h1 {
    text-align: center;
    color: black;
    font-size: 48px;
}

.donate-plan p {
    color: rgb(58, 57, 57);
    font-size: 14px;
    text-align: center;
}

.table {
    display: flex;
    border-left: 2px;
    width: 800px;
    margin: 0 auto;
}

.table-1 {
    padding: 50px 10px 20px 10px;
    align-content: center;
    margin: 0 10px;
    border-radius: 5%;
    background-color: bisque;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
}

.table-2 {
    padding: 50px 10px 20px 10px;
    align-content: center;
    margin: 0 10px;
    border-radius: 5%;
    background-color: khaki;
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
}

.table-3 {
    padding: 50px 10px 20px 10px;
    align-content: center;
    margin: 0 10px;
    border-radius: 5%;
    background-image: url(icons/Frame-1.png);
    background-color: rgb(236, 198, 148);
    background-repeat: no-repeat;
}

.your-donation {
    display: flex;
    font-size: medium;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

.survive {
    display: flex;
    font-size: medium;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

.my-update {
    text-align: center;
    margin-top: 100px;
}

.submit {
    padding: 20px 10px 20px 10px;
    align-content: center;
    margin: 100px 10px;
    border-radius: 5%;
    color: brown;
    background-color: bisque;
    width: 600px;
}

.last {
    text-align: center;
    background-color: black;

}

.last h1 {
    color: crimson;
}

footer {
    color: aliceblue;
    background-color: black;
    margin-top: 0 auto;
}

.color {
    background-color: black;
}

.half-width {
    width: 50%;
}

.half-width1 {
    width: 50%;
}